
body {
    background: url(http://www.miamioh.edu/_files/images/schools/backgrounds/bg.jpg) top left repeat !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

select:hover {
    cursor: pointer;
}

a {
    color: #007b89;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header {
    font-family: Georgia, "Times New Roman", serif;
    background-color: #b61e23;
    height: auto;
    width: 100%;
    max-width: none;
}

.title-container, .logo-container {
    width: 65%;
    min-width: 480px;
    margin: 0 auto;
}

.title-container {
    padding: 0 0 15px 0;
}

#miami-logo {
    max-width: 100%;
    height: auto;
    margin: 5px 0;
}

.title {
    color: white;
    font-weight: normal;
    margin: 0;
}

.subtitle {
    color: white;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}

.main {
    width: 65%;
    min-width: 480px;
    margin: 5px auto;
    background-color: white;
}

.main-content {
    width: 85%;
    margin: 0 auto;
}

.search-container {
    height: 25px;
    padding: 10px 0;
}

.search-form {
    float: right;
}

.advanced-search {
    background-color: white;
    margin: 5px auto;
    padding: 10px 0;
}

.advanced-search-label {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    color: #b61e23;
    font-size: 20px;
    border-bottom: 2px dotted #cccccc;
    padding: 5px 0;
}

.advanced-search-options, .recommendation-buttons, .media-buttons {
    display: flex;
    list-style: none;
    align-items: stretch; /* Default */
    justify-content: space-between;
    margin: 5px auto;
    padding: 5px 0;
}

.advanced-search-options .option, .recommendation-buttons .recommendation-button, .media-buttons .media-button{
    display: block;
    flex: 0 1 auto; /* Default */
}

.advanced-search-submit-container {
    height: 25px;
}

#advanced-search-submit {
    float: right;
}

#slides {
    margin: 0 auto;
    margin-bottom: 50px;
}

.slick-track {
    width: inherit;
}

.slide {
    width: inherit;
    background-color: white;
    height: 700px;
}

.project-image-container {
    height: 500px;
    margin: 10px auto;
}

.project-image {
    height: 100%;
    margin: 25px auto 5px;
}

.project-details-container {
    border-top: 2px dotted #cccccc;
    margin: 10px auto;
    height: 200px;
    width: 85%;
    padding: 5px;
    text-align: center;
}

.project-title {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.project-details {
    text-align: center;
}

.white-button {
    text-align: center;
    background-color: #FFF;
    color: #b61e23;
    border: 2px solid #b61e23;
    padding: 2px 4px;
}

.white-button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.spacer {
    border-top: 2px solid #b61e23;
    border-bottom: 1px solid #b61e23;
    height: 2px;
    margin: 0 auto;
}

.footer {
    background-color: white;
    text-align: center;
    width: 65%;
    margin: 5px auto;
    padding: 10px 0;
}



div.description {
    text-align: center;
    /* Added for experiments. */
    /* border: 1px solid black;
    border-collapse: collapse; */
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
    margin: 5px 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Recent";
    padding-left: 10px;
    background-color: #B61E2E; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Popular";
    padding-right: 10px;
    background-color: #B61E2E; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 12px; margin: 9px;
    background: #CCCCCC;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}







/** search.php **/
.searchresults {
    text-align: center;

}
.search-results-title {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    color: #b61e23;
    font-size: 20px;
    padding: 5px 0;
}
.search-result-image {
    max-height: 300px;
    width: auto;
}
.search-result-image img {
    height: 200px;
    width: auto;
}

/** project_pg.php **/
.media-buttons-container {
    text-align: center;
    width: 85%;
    border-bottom: 2px dotted #cccccc;
    margin: auto;
    padding: 5px 0;
}

.project_artifacts {
    text-align: center;
    margin: 10px auto;
}

.project_details {
    text-align: center;
    margin: 10px auto;
}

.recommendation-container {
    text-align: center;
    width: 85%;
    border-top: 2px dotted #cccccc;
    margin: auto;
    padding: 5px 0;
}

.slick-prev {
    background: lightgray; /*to notice it, is white*/
    height: 150px;
}

.slick-next {
    background: lightgray; /*to notice it, is white*/
    height: 150px;
}

.slick-prev:before, .slick-next:before {
    color: black;
    /*left: -80px;*/
}
